/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright (c) 2013-2016 Goja By Sogyf.
 */

package {{pkg}};

import {{pkg}}.base.Base{{model}};

import goja.core.annotation.TableBind;
import goja.core.sqlinxml.SqlKit;

import java.util.List;

/**
 * <p>
 * The table {{tableName}} mapping model.
 * </p>
 * @author {{sysUser}}
 * @version 1.0
 * @since JDK 1.6
 */
@TableBind(tableName = "{{tableName}}")
public class {{model}} extends Base{{model}}<{{model}}> {

    /**
     * The public dao.
     */
    public static final {{model}} dao = new {{model}}();


}
